button {outline: none; border: none;}
.blind { position: absolute; width: 1px; height: 1px; clip: rect(0 0 0 0); overflow: hidden;}
main {width: 100%;}
.inner {width:930px; margin: 0 auto; position: relative; }

.main {
    padding-top: 10px;
    .logo-area {
        display: flex; align-items: center;
        .button-refresh {
            width: 24px; height: 20px; margin-right: 6px;
            background: url('https://code-squad.s3.ap-northeast-2.amazonaws.com/newspaper.png') no-repeat center;
            border: none; cursor: pointer;
        }
        p {font-size: 20px; color: #333; font-weight: bold;}
    }
   
    
    .date {font-size: 14px; color: #666; position: absolute; top: 50%; right: 10px; transform: translateY(-50%);}
}

.rolling-news {
    margin: 20px 0;
    .inner {display: flex; justify-content: space-between;}
    .rolling-item {
        width: 44%;
        overflow: hidden;
        display: flex;
        padding: 10px;
        align-items: center;
        border: 1px solid #666;
        border-radius: 3px;
        background-color: #f4f4f4;
        b {font-size: 16px; font-weight: bold; margin-right: 10px; color: #111; flex: none;}
       span {font-size: 14px; color: #666; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
    }
}
.press {
    strong {font-size: 16px; color: #333; font-weight: bold; margin-right:30px; }
    span {font-size: 14px; color: #666;}
    .swiper {
        position: relative;
        .button {
            position: absolute;
            top: 50%; transform: translateY(-50%);
            width: 40px; height: 40px;
            background: url('https://code-squad.s3.ap-northeast-2.amazonaws.com/arrow.png') no-repeat center 100% / contain;
            cursor: pointer;
            &.prev {left: -40px; transform: translateY(-50%) rotate(180deg);}
            &.next {right: -40px;}
        }
    }
    
}
.press ul {
    margin-top: 14px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: 1px solid #e5e5e5;
    li {        
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        &:hover .subscribe {
            opacity: 1;
            display: flex;
            visibility: visible;
        }
        &:nth-child(6n) {border-right: none;}
        &:nth-child(n+19):nth-child(-n+24){border-bottom: none;}
        .subscribe {
            opacity: 0;
            display: none;
            visibility: hidden;
            position: absolute;
            top: 0;left: 0;
            background: rgb(204 204 204 / 30%);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            transition: all 0.3s ease-out;
            button {
                width: 50%;
                padding: 5px;
                border-radius: 50px;
                font-size: 10px;
                background-color: #fff;
                border: 1px solid #c5c5c5;
                cursor: pointer;
            }
        }
        a {
            display: flex;
            padding: 18px 0;
            align-items: center;
            justify-content: center;
            img { display: block; width: 50%;}
        }
    }
}
